			<link rel="stylesheet" href="~/include/css/linearicons.css">
			<link rel="stylesheet" href="~/include/css/font-awesome.min.css">
			<link rel="stylesheet" href="~/include/css/bootstrap.css">
			<link rel="stylesheet" href="~/include/css/magnific-popup.css">
			<link rel="stylesheet" href="~/include/css/nice-select.css">							
			<link rel="stylesheet" href="~/include/css/animate.min.css">
			<link rel="stylesheet" href="~/include/css/owl.carousel.css">			
			<link rel="stylesheet" href="~/include/css/jquery-ui.css">			
			<link rel="stylesheet" href="~/include/css/main.css">
			<link rel="shortcut icon" href="~/include/img/fav.png">


			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Контактҳои мо				
							</h1>
				<p class="text-white link-nav"><a class="nav-link font" asp-action="Index" asp-controller="Home">Асосӣ</a>  <span class="lnr lnr-arrow-right"></span>  <a class="nav-link font" asp-action="About" asp-controller="Home">Дар бораи МО</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="map-wrap" style="width:100%; height: 445px;" id="map"></div>
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>Тоҷикистон, ш.Хуҷанд</h5>
									<p>
										МДТ "Донишгоҳи давлатии Хуҷанд ба номи академик Б.Ғафуров"
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>92 646 73 75</h5>
									<p>Душанбе/Ҷумъа  -  аз 9:00 то 17:00 </p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>aleksrusso.wizard@gmail.com</h5>
									<p>Дархости худро фиристонед! </p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							<form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Ном" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ном'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Email"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="common-input mb-20 form-control" required="" type="email">

							<input name="subject" placeholder="Мавзӯъ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Мавзӯъ'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group">
							<textarea class="common-textarea form-control" name="message" placeholder="СМС-и шумо" onfocus="this.placeholder = ''" onblur="this.placeholder = 'СМС-и шумо'" required=""></textarea>
						</div>
									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary" style="float: right;">Фиристодан</button>											
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->
