<link rel="stylesheet" href="~/include/css/linearicons.css">
<link rel="stylesheet" href="~/include/css/font-awesome.min.css">
<link rel="stylesheet" href="~/include/css/bootstrap.css">
<link rel="stylesheet" href="~/include/css/magnific-popup.css">
<link rel="stylesheet" href="~/include/css/nice-select.css">
<link rel="stylesheet" href="~/include/css/animate.min.css">
<link rel="stylesheet" href="~/include/css/owl.carousel.css">
<link rel="stylesheet" href="~/include/css/jquery-ui.css">
<link rel="stylesheet" href="~/include/css/main.css">
<link rel="shortcut icon" href="~/include/img/fav.png">


<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Дар бораи МО
                </h1>
                <p class="text-white link-nav"><a class="nav-link font" asp-action="Index" asp-controller="Home">Асосӣ</a> </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Интернетро даргиронед ва дониши худро сайқал диҳед!</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Истифодабарии интернет бо сабаби пешрафти босуръати технология бештар маъмул мегардад.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Аз як синф ба дигар синф!</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Барои бисёре - фанҳои нав ва чизҳои ҷолиб.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Китобхонаи бузург!</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Агар шумо мехоҳед боз бисёртар чизҳоро омӯзед, пас ин сайт барои шумо.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start info Area -->
<section class="info-area pb-120">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding info-area-left">
                <img class="img-fluid" src="img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 info-area-right">
                <h1>Мо ба халқ хизмат мекунем</h1>
                <p>Барномаи "Роҳнамои ман" бо мақсади ёридиҳӣ барои хонанда баъд аз машғулиятҳои дарсӣ пешбинӣ шудааст.<br>

            </div>
        </div>
    </div>
</section>
<!-- End info Area -->
<!-- Start course-mission Area -->
<section class="course-mission-area pb-120">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Афзалиятҳо</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 accordion-left">

                <!-- accordion 2 start-->
                <dl class="accordion">
                    <dt>
                        <a href="">Интерфейс</a>
                    </dt>
                    <dd>
                        Ба ориши интерфейси истифодабаранда эътибори ҷиддӣ дода шудааст, ки он барои фаҳмиш хело осон мебошад.
                    </dd>
                    <dt>
                        <a href="">Асос - фанҳои дарсӣ</a>
                    </dt>
                    <dd>
                        Барномаи мазкур дар асосӣ фанҳои дарсӣ ба нақша гирифта шудааст, ки ҳамчун омили машғулияти иловагӣ ба ҳисоб меравад.
                    </dd>

                    <dt>
                        <a href="">Маълумоти нав</a>
                    </dt>
                    <dd>
                    Дар барнома администратор метавонад боз маълумотҳои навро дохил кунад
                    </dd>
                    
                </dl>
                <!-- accordion 2 end-->
            </div>
            <div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- End course-mission Area -->