
            <link rel="stylesheet" href="~/include/css/linearicons.css">
            <link rel="stylesheet" href="~/include/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/include/css/bootstrap.css">
            <link rel="stylesheet" href="~/include/css/magnific-popup.css">
            <link rel="stylesheet" href="~/include/css/nice-select.css">							
            <link rel="stylesheet" href="~/include/css/animate.min.css">
            <link rel="stylesheet" href="~/include/css/owl.carousel.css">			
            <link rel="stylesheet" href="~/include/css/jquery-ui.css">			
            <link rel="stylesheet" href="~/include/css/main.css">
            <link rel="stylesheet" href="~/include/css/main.css"> 

<link rel="stylesheet" href="~/css/registr.css">

<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								ДОХИЛКУНӢ				
							</h1>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			
<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Регистрация</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>или используйте свой E-mail для регистрации</span>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Авторизация</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>или используйте свой аккаунт</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Забыли пароль?</a>
                <button>Вход</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Чтобы оставаться на связи с нами, пожалуйста, войдите в систему с вашей личной информацией</p>
                    <button class="ghost" id="signIn">Авторизация</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Друг!</h1>
                    <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                    <button class="ghost" id="signUp">Регистрация</button>
                </div>
            </div>
        </div>
    </div>


        <script src="~/js/registr.js"></script>
