@using MyTrainer.Models
@model Davlat    /*не IEnumerable<Davlat> т.к. одно государство*/


            <link rel="stylesheet" href="~/include/css/linearicons.css">
            <link rel="stylesheet" href="~/include/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/include/css/bootstrap.css">
            <link rel="stylesheet" href="~/include/css/magnific-popup.css">
            <link rel="stylesheet" href="~/include/css/nice-select.css">							
            <link rel="stylesheet" href="~/include/css/animate.min.css">
            <link rel="stylesheet" href="~/include/css/owl.carousel.css">			
            <link rel="stylesheet" href="~/include/css/jquery-ui.css">			
            <link rel="stylesheet" href="~/include/css/main.css">
            <link rel="shortcut icon" href="~/include/img/fav.png">


            <!-- start banner Area -->
            <section class="banner-area relative about-banner" id="home">	
                <div class="overlay overlay-bg"></div>
                <div class="container">				
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Давлат			
                            </h1>
                    <p class="text-white link-nav"><a class="nav-link font" asp-action="Index" asp-controller="Home">Асосӣ</a>  <span class="lnr lnr-arrow-right"></span>  <a class="nav-link font" asp-action="About" asp-controller="Home">Дар бораи МО</a></p>

                        </div>	
                    </div>
                </div>
            </section>
            <!-- End banner Area -->	

@*<div class="row">*@
@*<div class="col">
    <p></p>
    <div class="container">
    <div class="row">
    <div class="active-popular-carusel">
    <div class="single-popular-carusel">
    <div class="thumb-wrap relative">
    <div class="thumb relative">
    @*<div class="overlay overlay-bg"></div>	*@
@*              <img class="img-fluid" src="~/include/img/p2.jpg" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

                <!-- Start course-details Area -->
            <section class="course-details-area pt-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 left-contents">
                @*foreach не нужен т.к. одно государство*@
                @if (Model != null)
                {
                    <div>
                       <img class="img-fluid" src="~/images/@Model.image" alt="">
                    </div>
                }

                            <div class="jq-tab-wrapper" id="horizontalTab">
                                <div class="jq-tab-menu">
                                    <div class="jq-tab-title active" data-tab="1">Маълумоти асосӣ</div>
                                    <div class="jq-tab-title" data-tab="2">Рамзҳои давлат</div>
                                    <div class="jq-tab-title" data-tab="3">Харита</div>
                                    <div class="jq-tab-title" data-tab="4">Таърих</div>
                                    <div class="jq-tab-title" data-tab="5">Шаҳрҳои асосӣ</div>
                                </div>
                                <div class="jq-tab-content-wrapper">
                                    <div class="jq-tab-content active" data-tab="1">
                                        @Model.nom
                                    </div>
                                    <div class="jq-tab-content" data-tab="2">
                                       @Model.about
                                    </div>
                                    <div class="jq-tab-content" data-tab="3">
                                        Харита
                                    </div>
                                    <div class="jq-tab-content comment-wrap" data-tab="4">
                                        Таърих                                                 
                                    </div>
                                    <div class="jq-tab-content" data-tab="5">	
                                        Шаҳрҳои асосӣ                             	
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </section>
            <!-- End course-details Area -->
@*</div>*@




            <script src="~/include/js/vendor/jquery-2.2.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/include/js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="~/include/js/vendor/bootstrap.min.js"></script>			
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
            <script src="~/include/js/easing.min.js"></script>			
            <script src="~/include/js/hoverIntent.js"></script>
            <script src="~/include/js/superfish.min.js"></script>	
            <script src="~/include/js/jquery.ajaxchimp.min.js"></script>
            <script src="~/include/js/jquery.magnific-popup.min.js"></script>	
            <script src="~/include/js/jquery.tabs.min.js"></script>						
            <script src="~/include/js/jquery.nice-select.min.js"></script>	
            <script src="~/include/js/owl.carousel.min.js"></script>									
            <script src="~/include/js/mail-script.js"></script>	
            <script src="~/include/js/main.js"></script>	

